*{
    margin: 0;
    padding: 0;
    font-family: 'Bellota', cursive;
}

/********GENERAL************/
.app {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left_side {
    width: 20%;
    height: 100vh;
    padding: 50px;
}

.right_side {
    width: 80%;
    height: 100vh;
}


/**********LEFT SIDE********/
.brand {
    color: #000000;
    text-decoration: none;
}

.panel h2 {
    margin: 50px 0px 15px;
}

.menu li {
    list-style-type: none;
    padding: 15px 0;
}

.menu li i {
    padding-right: 10px;
}

.menu li a{
    text-decoration: none;
    color: #000;
}

.menu li i.fa-bolt{
    color: #fae33c;
}

.menu li i.fa-tshirt{
    color: #9e5813b8;
}

.menu li i.fa-shoe-prints{
    color: #a4a39c;
}

.menu li i.fa-shopping-bag{
    color: #b76708;
}

.menu li i.fa-running{
    color: #0888b7;
}

.menu li i.fa-gift{
    color: #ff981c;
}

.menu li i.fa-gem{
    color: #00a4ff;
}

/*********RIGHT SIDE********/

    /*******TOP BAR*******/

.top_bar{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.top_bar input[name="search"]{
    margin: 20px 0;
    padding: 5px 10px;
    width: 60%;
    border: none;
}


.top_bar .btn-panier{
    background-color: #fff;
    padding: 2em;
    border: none;
}



.top_bar img{
    width: 40px;
    /* margin: 10px 10px 0 0; */
    border-radius: 50%;
}

.top_bar .user{
    text-decoration: none;
    color: #000;
}

.top_bar .left_topbar{
    width: 60%;
}

    /*********CENTER BAR*********/
.center_bar{
    padding-bottom: 10px;
}
.center_bar a{
    text-decoration: none;
    color: #000;
}

.center_bar .fa-bolt{
    color: #fae33c;
    margin-right: 10px;
}

.center_bar .new-in{
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    width: 40%;
    border: none;
}

.center_bar a{
    border: 1px solid #9e9797;
    border-radius: 5px;
    padding: 12px 15px;
    margin: 0 5px;
}

.center_bar .fas{
    margin: 0 10px;
}

/*********MAIN BAR*********/
.main-bar{
    display: flex;
    flex-wrap: wrap;
}

.row {
    width: 100%;
    height: 60vh;
}

.main-bar .colunm a {
    /* background-color: red; */
    margin: 7px;
    border-radius: 10px;
}

.main-bar .row {
    display: flex;
    flex-direction: row;
}

.main-bar .colunm {
    height: 100%;
    width: 50%;
}

.main-bar .colunm.horizontal {
    display: flex;
    flex-direction: column;
}

.main-bar .horizontal a {
    height: 50%;
}

.main-bar .colunm.vertical {
    display: flex;
    flex-direction: row;
}

.main-bar .vertical a {
    width: 50%;
    position: relative;
    transition: all 1s ease-out;
}

.main-bar .img1{
    background-image: url("../img/clothes-on-sale-2292953.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img2{
    background-image: url("../img/black-framed-eyeglasses-on-white-jacket-and-blue-denim-934070.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img3{
    background-image: url("../img/close-up-photo-of-adidas-shoes-1661470.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img4{
    background-image: url("../img/unpaired-yellow-dr-martens-lace-up-boot-1159670.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img5{
    background-image: url("../img/person-wearing-yellow-shoes-1335463.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img6{
    background-image: url("../img/photo-of-sneakers-on-white-background-2529148.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img7{
    background-image: url("../img/adult-beautiful-elegant-eyewear-291762.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img8{
    background-image: url("../img/accessory-clothes-clothing-fashion-179909.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img9{
    background-image: url("../img/men-s-gray-and-black-button-up-shirt-on-mannequin-1086711.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img10{
    background-image: url("../img/black-casual-classic-clothes-292999.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img11{
    background-image: url("../img/woman-in-blue-and-white-plaid-cardigan-holding-green-and-red-932405.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img12{
    background-image: url("../img/woman-in-peach-color-and-red-floral-sweatshirt-holding-gray-794062.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img13{
    background-image: url("../img/woman-in-gray-blazer-stands-on-gray-concrete-floor-914668.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img14{
    background-image: url("../img/brown-bag-on-top-of-stool-with-textiles-1502216.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img15{
    background-image: url("../img/woman-sitting-on-chair-while-leaning-on-table-871494.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bar .img16{
    background-image: url("../img/close-up-of-shoes-and-bag-336372.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

    /********************BUTTON HEART********************/

.heart-btn {
    width: auto;
    margin: 10px;
    border-radius: 50%;
    outline: unset;
    border: 0;
    box-shadow: 0px 0px 10px #333;
    float: right;
    transition: 0.5s;
}

.heart-btn .fa-heart {
    padding: 15px;
    font-size: 20px;
}
.heart-btn .fas.fa-heart {
    display: none;
    color: red;
}

.heart-btn:hover .far.fa-heart {
    display: none;
}
.heart-btn:hover .fas.fa-heart {
    display: block;
}
.heart-btn:hover{
    transform: rotate(360deg);
}
.heart-btn:active .fas.fa-heart{
    display: none;
}
.heart-btn:active .far.fa-heart{
    display: block;
    background-color: red;
    color: white;
    border-radius: 50%;
}

/*********************TEXT VERTICAL*****************/

.text-vertical {
    position: absolute;
    bottom: -30px;
    background: rgba(255,255,255,0.5);
    width: 100%;
    box-sizing: border-box;
    padding: 50px 30px;
    text-align: center;
    color: #333333;
    opacity: 0;
    transition: all .5s;
}

.main-bar .vertical a:hover .text-vertical{
    opacity: 1;
    bottom: 0px;
}

