*{
    margin: 0;
    padding: 0;
}

/********GENERAL************/
.app {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left_side {
    width: 20%;
    height: 100vh;
    padding: 50px;
}

.right_side {
    width: 80%;
    height: 100vh;
}


/**********LEFT SIDE********/
.brand {
    color: #000000;
    text-decoration: none;
}