*{
    margin: 0;
    padding: 0;
}

/********GENERAL************/
.app {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left_side {
    width: 20%;
    height: 100vh;
    padding: 50px;
}

.right_side {
    width: 80%;
    height: 100vh;
}


/**********LEFT SIDE********/
.brand {
    color: #000000;
    text-decoration: none;
}

.panel h2 {
    margin: 50px 0px 15px;
}

.menu li {
    list-style-type: none;
    padding: 15px 0;
}

.menu li i {
    padding-right: 10px;
}

.menu li a{
    text-decoration: none;
    color: #000;
}

.menu li i.fa-bolt{
    color: #fae33c;
}

.menu li i.fa-tshirt{
    color: #9e5813b8;
}

.menu li i.fa-shoe-prints{
    color: #a4a39c;
}

.menu li i.fa-shopping-bag{
    color: #b76708;
}

.menu li i.fa-running{
    color: #0888b7;
}

.menu li i.fa-gift{
    color: #ff981c;
}

.menu li i.fa-gem{
    color: #00a4ff;
}

/*********RIGHT SIDE********/

    /*******TOP BAR*******/

.top_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.top_bar input[name="search"]{
    margin: 20px 0;
    padding: 5px 10px;
    width: 40%;
    border: none;
}


.top_bar .btn-panier{
    background-color: #fff;
    padding: 2em;
    border: none;
}



.top_bar img{
    width: 40px;
    /* margin: 10px 10px 0 0; */
    border-radius: 50%;
}

.top_bar .user{
    text-decoration: none;
    color: #000;
}

    /*********CENTER BAR*********/
.center_bar a{
    text-decoration: none;
    color: #000;
}

.center_bar .fa-bolt{
    color: #fae33c;
    margin-right: 10px;
}

.center_bar .new-in{
    font-size: 25px;
    font-weight: bold;
}